.navbar {
    float: left;
    position: fixed;
    height: 100%;
    width: 50px;
    padding-top: 50px;
    box-sizing: border-box;
    background: #fbfbfb;
    /*border-left: 1px solid #e7e7e7;*/
    border-right: 1px solid #e7e7e7;
    z-index: 999;
}

.navbar__menu {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar__menu > * {
    line-height: 50px;
}

.navbar__items {
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    height: 50px;
    max-height: 50px;
    position: relative;
}

.navbar__items:last-child {
    bottom: 10%;
    position: absolute;
    border-top: 1px solid #e7e7e7;
}


.navbar__items__title {
    position: absolute;
    top: 0;
    left: 48px;
    height: 100%;
    text-align: center;
    width: 0;
    opacity: 0;
    z-index: 1000;
    color: #fff;
    transition: width 0.5s, opacity 0.2s, background 0.5s;
    overflow: visible;
}

.navbar__items__icon {
    text-align: center;
    height: 100%;
    transition: background 0.5s, color 0.5s;
    color: #14b9d6;
}

.navbar__items:active > .navbar__items__icon {
    background: #14b9d6;
    color: #fff;
}

.navbar__items:active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #14b9d6;
}

.navbar__items:nth-child(2):active > .navbar__items__icon {
    background: #e76049;
    color: #fff;
}


.navbar__items:nth-child(3):active > .navbar__items__icon {
    background: #2eb398;
    color: #fff;
}

.navbar__items:nth-child(4):active > .navbar__items__icon {
    background: #90899c;
    color: #fff;
}

.navbar__items:nth-child(5):active > .navbar__items__icon {
    background: #5692b1;
    color: #fff;
}

.navbar__items:nth-child(6):active > .navbar__items__icon {
    background: #f9b704;
    color: #fff;
}

.navbar__items:nth-child(7):active > .navbar__items__icon {
    background: #dd1787;
    color: #fff;
}

.navbar__items:nth-child(8):active > .navbar__items__icon {
    background: #e76049;
    color: #fff;
}

.navbar__items:nth-child(2) > .navbar__items__icon {
    color: #e76049;
}

.navbar__items:nth-child(3) > .navbar__items__icon {
    color: #2eb398;
}

.navbar__items:nth-child(4) > .navbar__items__icon {
    color: #90899c;
}

.navbar__items:nth-child(5) > .navbar__items__icon {
    color: #5692b1;
}

.navbar__items:nth-child(6) > .navbar__items__icon {
    color: #f9b704;
}

.navbar__items:nth-child(7) > .navbar__items__icon {
    color: #dd1787;
}

.navbar__items:nth-child(8)> .navbar__items__icon {
    color: #e76049;
}

.navbar__items:nth-child(2):active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #e76049;
}

.navbar__items:nth-child(3):active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #2eb398;
}

.navbar__items:nth-child(4):active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #90899c;
}

.navbar__items:nth-child(5):active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #5692b1;
}

.navbar__items:nth-child(6):active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #f9b704;
}

.navbar__items:nth-child(7):active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #dd1787;
}

.navbar__items:nth-child(8):active > .navbar__items__title {
    opacity: 1;
    z-index: 10;
    width: 80px;
    background: #e76049;
}