.page-content {
    height: calc(100% - 50px);
}

.page-content__content {
    float: right;
    width: calc(100% - 65px) !important;
    height: 150%;
    padding-top: 65px;
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    max-width: 100%;
}

.page-content__container {
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 14px;
    width: 33.3%;
    padding: 5px !important;
    max-width: 400px;
}

.page-content_container__image {
    position: relative;
    box-sizing: border-box;
}

.page-content_container__image > img {
    min-width: 100%;
}

.page-content_container__image:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 20%;
    border-bottom: 14px solid #fff;
    border-top: 14px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}

.page-content_container__postinfo {
    line-height: 40px;
    color: #9d9d9d;
    font-size: 0.8em;
    box-sizing: border-box;

}

.page-content_container__post {
    /*padding: 5px 5px;*/
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.page-content_container__post__header {
    display: block;
    font-family: "Montserrat Bold";
    font-size: 1.3em;
    padding: 0 10px;
}

.page-content_container__post__description {
    display: block;
    color: #9d9d9d;
    font-size: 0.8em;
    padding: 10px 10px;
}

.page-content-container__date {
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
}

.page-content-container__comments {
    display: inline-block;
    line-height: 40px;
    margin-right: 15px;
}

.page-content__banner {
    max-height: 100%;
    font-family: "Open Sans";
    font-size: 1em;
    width: 33.3%;
}

.page-content-banner__wrapper {
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    padding: 5px;
}

.page-content_container__banner__image {
    background: url("../assets/pictures/banner1.png");
    background-position: center;
    background-size: cover;
    min-height: 200px;
}

.container-banner_description {
    box-sizing: border-box;
    min-height: 65px;
}


.page-content_container__banner__text {
    float: left;
    font-size: 0.5em;
    display: inline;
    width: 70%;
    height: 100%;
    padding-top: 5px;
}

.page-content_container__banner__logo {
    display: inline;
    float: right;
    height: 30px;
    line-height: 90px;
    padding-right: 10px;
}

.page-content_container__banner__logo > img {
    max-width: 70px;
}

.img1 {
    background: url("../assets/pictures/image1.png");
    min-height: 400px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background: url("../assets/pictures/image2.png");
    min-height: 200px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background: url("../assets/pictures/image3.png");
    height: 200px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
}

.img4 {
    background: url("../assets/pictures/image4.png");
    min-height: 320px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.img5 {
    background: url("../assets/pictures/image5.png");
    min-height: 320px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    display: block;
    background: rgba(231,96,73,0.8);
    overflow: hidden;
    height: 200px;
    position: relative;
}

.readmore {
    position: absolute;
    width: 200px;
    height: 50px;
    border: 3px solid #fff;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -25px;
    line-height: 50px;
    font-family: "Montserrat Bold";
    font-size: 1.5em;
    text-align: center;
}

.readmore_arrow {
    display: inline-block;
    width: 50px;
    border-right: 3px solid #fff;
}

.readmore_text {
    display: inline-block;
    text-transform: uppercase;
}

.red {
    border-bottom: 5px solid #e76049;
}

.green {
    border-bottom: 5px solid #2eb398;
}

.purple {
    border-bottom: 5px solid #90899c;
}

.violet {
    border-bottom: 5px solid #5692b1;
}