.calculator {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.calculator:after {
    content: '';
    width: 100%;
    clear: both;
    display: table;
}

.calculator__controls_head > div {
    width: 100%;
}

.calculator__numbers {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calculator__controls {
    width: 20%;
}

.btn {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 10px;
}

.calculator__numbers > .btn {
    width: 25%;
}

.calculator__head > input {
    height: 20%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background: #cdcdcd;
    color: #464646;
    outline: none;
    font-size: 2em;
    text-align: right;
}

.btn.nums {
    background: #efefef;
}
.btn.nums:active {
    background: #9c9c9c
}
.btn.operations, .btn.clear {
    background: orange;
}

.btn.operations:active, .btn.clear:active {
    background: #915800;
}
