* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "lato-bold";
    src: url("fonts/Lato-Bold.woff");
}

@font-face {
    font-family: "lato-regular";
    src: url("fonts/Lato-Regular.woff");
}

html {
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

s-grey {
    color: #4d4959;
}

#main {
    width: 960px;
    margin: 0 auto;
}

#top {
    margin: 0 auto;
    background-image: url("images/bike_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 50%;
}
#menu {
    position: absolute;
    top:0;
    left: 50%;
    width: 600px;
    text-align: center;
    margin-left: -300px;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    line-height: 85px;
}

.menu-items a {
    font-family: lato-bold;
    text-transform: uppercase;
    color: #4d4959;
    font-size: 13px;
}

.logo {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    width: 94px;
    height: 85px;
}

.about {
    height: 468px;
    box-sizing: border-box;
}
.description {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-img {
    margin: 10px;
}

.desc {
    font-family: lato-bold;
    margin: 20px;
}

.text {
    font-family: lato-regular;
    font-size: 18px;
    color: #848789;
    margin: 20px;
    text-align: center;
    /*line-height: 30px;*/
}

.minimizer-img {
    width: 20px;
    margin: 0 auto;
}

.minimizer-desc {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.minimizer {
    font-size: 12px;
    margin: 0 auto;
    line-height: 23px;
}

.tiles1 {
    width: 960px;
    height: 360px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.tiles1 img {
    max-width: 100%;
}

.tile1-horizontal {
    position: relative;
    height: 360px;
    width: 640px;
}

.tile1-text {
    box-sizing: border-box;
    padding-top: 15px;
    position: relative;
    width: 320px;
    height: 240px;
}

.tile1-text:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -22px;
    width: 0;
    height: 0;
    border-top: 12px solid white;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    z-index: 10;
}

.tile1-image-small {
    width: 320px;
    height: 120px;
}

.tile1-square {
    position: relative;
    width: 320px;
    height: 340px;
}

.watermark {
    background-image: url("images/logo_1.png");
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 177px;
    height: 152px;
}

.watermark1 {
     background-image: url("images/logo_2.png");
     background-size: 100px;
     background-repeat: no-repeat;
     position: absolute;
     top:50%;
     left: 50%;
     margin-top: -50px;
     margin-left: -50px;
     width: 177px;
     height: 152px;
 }

.watermark2 {
    background-image: url("images/logo_3.png");
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -50px;
    width: 177px;
    height: 152px;
}

.tiles2 {
    width: 960px;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.tiles2 img {
    max-height: 100%;
}

.tile2-small {
    flex-grow: 1;
flex-basis: 160px;
}

.tile2-horizontal {
    flex-grow: 2;
    flex-basis: 320px;
    background: orange;
}

.tile2-vertical {
    flex-grow: 2;
flex-basis: 160px;
    background: grey;
}

.correction {
    width: 300px;
}