* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "lato-bold";
    src: url("fonts/Lato-Bold.woff");
}

@font-face {
    font-family: "lato-regular";
    src: url("fonts/Lato-Regular.woff");
}

html {
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

s-grey {
    color: #4d4959;
}

#main {
    max-width: 1600px;
    margin: 0 auto;
}

#top {
    margin: 0 auto;
    background-image: url("images/bike_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 50%;
}
#menu {
    position: absolute;
    top:0;
    left: 50%;
    width: 600px;
    text-align: center;
    margin-left: -300px;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    line-height: 85px;
}

.menu-items a {
    font-family: lato-bold;
    text-transform: uppercase;
    color: #4d4959;
    font-size: 13px;
}

.logo {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    width: 94px;
    height: 85px;
}

.about {
    height: 468px;
}
.description {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-img {
    margin: 20px;
}

.desc {
    font-family: lato-bold;
    margin: 20px;
}

.text {
    font-family: lato-regular;
    font-size: 18px;
    color: #848789;
    margin: 20px;
    text-align: center;
    line-height: 30px;
}

.tiles {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: -4px;
}

.reverse {
    flex-direction: row-reverse;
}

.wide-block {
    position: relative;
}

.slim-block-photo {
    position: relative;
    flex-grow: 1;
}

.slim-block-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 200px;
    font-family: lato-regular;
    font-size: 18px;
}

.slim-block-text-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-grow: 1;
    height: 400px;
    padding: 0 20px;
}

.slim-block-text-bottom {
    position: relative;
    flex-grow: 1;
    flex-basis: 200px;
}

.triangle {
    position: absolute;
    left: 50%;
    margin-left: -22px;
    width: 0;
    height: 0;
    border-top: 24px solid white;
    border-bottom: 24px solid transparent;
    border-right: 24px solid transparent;
    border-left: 24px solid transparent;
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -76px;
    margin-left: -89px;
}