body {
    padding: 0px;
    margin: 0px;
    background: #efefef;
    font-family: Helvetica, Arial;
}
.main {
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    width: 420px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
}

.box {
    border: 1px lightgrey solid;
    width: 420px;
    height: 100px;
    text-align: center;
    border-collapse:collapse;
}

.arrow {
    font-size: 18px;
    color: lightgrey;
}

.header {
    height: 100px;
    background: #F9787C;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}

.days {
    font-weight: bold;
    text-transform: capitalize;
}
.cell {
    width: 60px;
    height: 60px;
    border: 1px solid lightgrey;
    font-style: italic;
}

.cell_out {
    width: 60px;
    height: 60px;
    border: 1px solid lightgrey;
    color: grey;
}

.cell:hover, .cell_out:hover {
    background: #F9787C;
}
