* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "lato-bold";
    src: url("fonts/Lato-Bold.woff");
}

@font-face {
    font-family: "lato-regular";
    src: url("fonts/Lato-Regular.woff");
}
@font-face {
    font-family: "lato-italic";
    src: url("fonts/Lato-Italic.woff");
}

@font-face {
    font-family: "lato-light";
    src: url("fonts/Lato-Thin.woff");
}

html {
    font-family: lato-regular, Helvetica;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about {
    margin: 20px 0;
}
.main {
    margin: 0 auto;
}

.top {
    background-image: url("images/bike_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50%;
    height: 100%;
}
.menu {
    position: absolute;
    top:0;
    text-align: center;
    height: 25%;
}

.menu-list {
    display: flex;
    justify-content: center;
}

.menu-items {
    display: flex;
    text-align: center;
    padding: 0 5%;
}

.menu-items a {
    font-family: lato-bold;
    text-transform: uppercase;
    color: #4d4959;
    font-size: 13px;
}


@media screen and (max-width: 600px){
    .menu-list {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    li.logo {
        display: none;
    }

    .menu-items {
        align-content: space-between;
        height: 25%;
        background: rgba(0, 0, 0, 0.1);
    }

    .menu-items a {
        color: white;
    }
}

.logo {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    width: 94px;
    height: 85px;
}

.description {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-img {
    margin: 10px;
}

.desc {
    font-family: lato-bold;
    margin: 20px;
}

.text {
    font-family: lato-regular;
    font-size: 18px;
    color: #848789;
    text-align: center;
}

.tweet {
    font-family: lato-italic;
    font-size: 18px;
    color: #848789;
    text-align: center;
}

.minimizer {
    font-size: 14px;
    margin: 0 auto;
}

.minimizer-img {
    width: 20px;
    margin: 0 auto;
}

.minimizer-desc {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.tiles1 {
    height: 360px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.bike2 {
    background-image: url("images/bike_2.jpg");
    background-size: cover;
}

.bike3 {
    background-image: url("images/bike_3.jpg");
    background-size: cover;
}

.bike4 {
    background-image: url("images/bike_4.jpg");
    background-size: cover;
}

.bike5 {
    background-image: url("images/bike_5.jpg");
    background-size: cover;
}

.bike6 {
    background-image: url("images/bike_6.jpg");
    background-size: cover;
}

.bike7 {
    background-image: url("images/bike_7.jpg");
    background-size: cover;
}

.bike8 {
    background-image: url("images/bike_8.jpg");
    background-size: cover;
}

.bike9 {
    background-image: url("images/bike_9.jpg");
    background-size: cover;
}

.bike10 {
    background-image: url("images/bike_10a.jpg");
    background-size: cover;
}

.bike11 {
    background-image: url("images/bike_11.jpg");
    background-size: cover;
}

.bike12 {
    background-image: url("images/bike_12.jpg");
    background-size: cover;
}

.bike13 {
    background-image: url("images/bike_13.jpg");
    background-size: cover;
}

.bike14 {
    background-image: url("images/bike_14.jpg");
    background-size: cover;
}

.bike15 {
    background-image: url("images/bike_15.jpg");
    background-size: cover;
}

.bike16 {
    background-image: url("images/bike_16.jpg");
    background-size: cover;
}

.logo1 {
    background-image: url("images/logo_1.png");
}

.logo2 {
    background-image: url("images/logo_2.png");
}

.logo3 {
    background-image: url("images/logo_3.png");
}


.tile1-horizontal {
    position: relative;
    height: 100%;
}

.tile1-text {
    box-sizing: border-box;
    position: relative;
    height: 75%;
    padding: 10px;
    width: 100%;
}

.tile1-text:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-top: 12px solid white;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    z-index: 10;
}

.tile1-image-small {
    height: 25%
}

.tile1-square {
    position: relative;
    height: 100%;
}

.tile1-slim{
    position: relative;
    height: 100%;
}

.watermark {
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 177px;
    height: 152px;
}

@media screen and (max-width: 992px) {
    .tiles1 {
        display: flex;
        flex-direction: column;
    }

    .tile1-horizontal {
        display: none;
    }

    .tile1-slim {
        display: none;
    }

    .tile1-text {
        height: 60%;
    }
    .tile1-image-small {
        height: 40%;
    }
}

.tiles2 {
    height: 320px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    font-size: 0;
}

.box {
    display: flex;
    flex-direction: row;
    height: 320px;
    flex-wrap: wrap;
}

.link:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

@media screen and (max-width: 997px) {
    .desktop {
        display: none;
    }
}

.tiles2 img {
    max-width: 100%;
    max-height: 100%;
}

.tile2-small {
    width: 50%;
    height: 50%;
}

.tile2-horizontal {
    width: 100%;
    height: 50%;
}

.tile2-horizontal a {
    display: block;
    width: 100%;
    height: 100%;
}

.tile2-vertical {
    width: 50%;
    height: 100%;
}

.box > span img:hover {
    opacity: 0.5;
    z-index: 10;
}

.shop-field-dark {
    width: 100%;
    height: 200px;
    background: #282f35;
    display: flex;
    align-items: center;
    align-content: center;
}

.shop-field-dark-button {
    border: 1px solid #94979a;
    margin: auto;
    text-transform: uppercase;
}

.shop-field-dark-button span {
    text-decoration: none;
    display: block;
    padding: 20px 40px;
    color: white;
}

.shop-field-dark-button span:hover {
    opacity: 0.5;
}

.subscription {
    width: 100%;
    height: 282px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: stretch;
}

.subscription-logo {
    position: relative;
    justify-content: flex-end;
    height: 110px;
}

.subscription-logo img {
    position: absolute;
    bottom: 0;
    margin-left: -30px;
    width: 60px;
}

.subscription-slogan {
    flex-grow: 1;
    margin-top: 10px;
    font-family: lato-italic;
    color: #94979a;
}

.subscription-email {
    display: flex;
    flex-direction: row;
    flex-grow: 1.5;
    justify-content: center;
    margin-top: 15px;
}

.subscription-email .email {
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    font-family: lato-italic;
}

.button-submit {
    border: solid 0px;
    width: 90px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    background: #64c29e;
    color: #fff;
    margin-left: 20px;
    font-family: lato-light;
    font-size: 20px;
}

.button-submit:hover {
    opacity: 0.5;
}

.footer {
    height: 75px;
    background: #f7f7f7;
    font-size: 14px;
    text-align: center;
    margin: auto;
}

.footer-address {
    box-sizing: border-box;
    align-self: center;
    font-size: 14px;
    font-family: lato-italic;
    color: #94979a;
    margin: auto;
}

.bold {
    font-family: lato-bold;
}

.social {
    width: 10%;

}

.credits {
    height: 36px;
    margin: auto;
    color: #94979a;
    font-family: lato-italic;
}

.credits-text {
    display:inline-block;
    height: 30px;
    line-height: 30px;
}

.credits-logo {
    display: inline-block;
    height: 60px;
    vertical-align: top;
    margin-left: 5px;
}