* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Helvetica, Arial;
}

.content {
    background: green;
    width: 100%;
}

.header_red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}