* {
    padding: 0;
    margin: 0;
}

.row {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}

.row:after {
    display: table;
    clear: both;
    content: '';
}
.red {
    height: 480px;
    background: red;
}

.green {
    height: 480px;
    background: green;
}

.blue {
    height: 70%;
    width: 100%;
    background: blue;
}

.padding-null {
    padding: 0;
}